osmnx
cerberus
geopy
pyshp
shapely
plotly
numpy
networkx
pandas
sklearn
pydantic
click
openpyxl
mkdocs
mkdocstrings[python]
mkdocs-material
mkdocs-jupyter
https://github.com/bmcorser/fontawesome-markdown/archive/master.zip